@model FunilMVC.Models.CANDIDATO

@{
    ViewBag.Title = "Candidato";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANNOME)
        </dd>
        <hr />
        <dt>
            Formação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANFORMACAO)
        </dd>
        <hr />
    </dl>
</div>
<p>
    <a class="btn btn-primary" href="/Candidato/Index">Voltar</a>
    <a class="btn btn-warning" href="@Url.Action("Edit", new {id=Model.CANID})">Editar</a>
    <a class="btn btn-danger" href="@Url.Action("Delete", new {id=Model.CANID})">Deletar</a>
</p>