@model IEnumerable<FunilMVC.Models.QuantidadeVaiid>

@{
    ViewBag.Title = "Dashboard";
    var contar = Model.Count();
}

<h2>Quantidade</h2>

<table class="table">
    <tr>
        <th scope="col">
            ID
        </th>

        <th scope="col">
            Vaga
        </th>

        <th scope="col">
            Candidatos cadastrados
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Vaga)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
        </tr>
    }

</table>