@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4">
        <h2>Lista de Vagas</h2>
        <p>
            Exibir lista de Vagas cadastradas
        </p>
        <p><a class="btn btn-default" href="/Vaga/Index">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lista de Candidatos</h2>
        <p>Exibir lista de Candidatos cadastrados</p>
        <p><a class="btn btn-default" href="/Candidato/Index">Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lista de Etapas</h2>
        <p>Exibir lista de Estapas</p>
        <p><a class="btn btn-default" href="/Etapa/Index">Ver &raquo;</a></p>
    </div>
</div>